<!doctype html>
<html lang="uk" class="no-js">
  <head>
    <meta charset="utf-8">

<!-- begin SEO -->









<title>Поширені запитання - Взлом Playstation 4</title>




<meta name="description" content="Повне керівництво з прошивки Playstation 4">




<meta name="author" content="xHR">

<meta property="og:locale" content="uk_UA">
<meta property="og:site_name" content="Взлом Playstation 4">
<meta property="og:title" content="Поширені запитання">








  

  












  <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Person",
      "name" : "xHR",
      "url" : null,
      "sameAs" : null
    }
  </script>



  <meta name="google-site-verification" content="bXQ2KTFgfxyvvQx2cGGgbQ59jCOMNMbdSyuHmLPhSwE" />





<!-- end SEO -->


<link href="/feed.xml"
  type="application/atom+xml" rel="alternate" title="Взлом Playstation 4 Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="/assets/css/main.css">

<!--[if lte IE 9]>
  <style>
    /* old IE unsupported flexbox fixes */
    .greedy-nav .site-title {
      padding-right: 3em;
    }
    .greedy-nav button {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
    }
  </style>
<![endif]-->


    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  </head>

  <body class="layout--single">
    
    <!--[if lt IE 9]>
<div class="notice--danger align-center" style="margin: 0;">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</div>
<![endif]-->
    <div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <a class="site-title" href="/">Взлом Playstation 4</a>
        <ul class="visible-links"><li class="masthead__menu-item">
            <a href="http://customfw.xyz" ><b>Прошивка<br>інших консолей</b></a>
          </li><li class="masthead__menu-item">
            <a href="/faq" >FAQ</a>
          </li><li class="masthead__menu-item">
            <a href="/troubleshootings" >Проблеми та<br>їх вирішення</a>
          </li><li class="masthead__menu-item">
            <a href="/info" >Важливо<br>знати</a>
          </li><li class="masthead__menu-item">
            <a href="/games" >Встановлення<br>ігор</a>
          </li><li class="masthead__menu-item">
            <a href="/start-hen" >Запуск експлойту<br>через DNS</a>
          </li><li class="masthead__menu-item">
            <a href="/usb-update-672" >Оновлення<br>прошивки</a>
          </li><li class="masthead__menu-item">
            <a href="/payloads" >Запуск<br>експлойту з ПК</a>
          </li><li class="masthead__menu-item">
            <a href="/game-dumps" >Дампінг<br>ігор</a>
          </li><li class="masthead__menu-item">
            <a href="/addons" >Корисні<br>інструкції</a>
          </li><li class="masthead__menu-item">
            <a href="/dns-payloads" >Опис<br>пейлоадів</a>
          </li><li class="masthead__menu-item">
            <a href="/uninstall-hen" >Видалення<br>HEN</a>
          </li><li class="masthead__menu-item">
            <a href="/site-navigation" >Навігація<br>по сайту</a>
          </li><li class="masthead__menu-item">
            <a href="http://customfw.xyz/donations" >Пожертвування</a>
          </li><li class="masthead__menu-item">
            <a href="http://customfw.xyz/contacts" >Зв'язатися з нами</a>
          </li></ul>

        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">Toggle menu</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>

    



<div id="main" role="main">
  
  <div class="sidebar sticky">
  

<div itemscope itemtype="http://schema.org/Person">

  
  <div class="author__avatar">
    
    <center><img src="/assets/images/bio-photo.png" class="author__avatar" alt="xHR"
        itemprop="image"></center>
    
  </div>
  

  <div class="author__content">
    <h3 class="author__name" itemprop="name">xHR</h3><br>
    
  </div>


  <div class="author__urls-wrapper">
    <button class="btn btn--def btn--inverse btn--large btn--buy">Контакти</button>
    <ul class="author__urls social-icons">
      
      <li itemprop="homeLocation" itemscope itemtype="http://schema.org/Place">
        <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> <span itemprop="name">Івано-Франківськ</span>
      </li>
      
      <hr class="style-two">

      
<li>
  <a href="https://t.me/xhrxhrxhr" target="_blank" itemprop="sameAs">
    <i class="fa fa-fw fa-telegram" aria-hidden="true"></i> Telegram (чипування)
  </a>
</li>


<li>
  <a href="https://t.me/kefir_ukr" target="_blank" itemprop="sameAs">
    <i class="fa fa-fw fa-telegram" aria-hidden="true"></i> Група в Telegram
  </a>
</li>


<li>
  <a href="tel:0997763996" target="_blank" itemprop="sameAs">
    <i class="fa fa-fw fa-phone" aria-hidden="true"></i> Телефон
  </a>
</li>


<li>
  <a href="viber://0977359431" target="_blank" itemprop="sameAs">
    <i class="fa fa-fw fa-whatsapp" aria-hidden="true"></i> Viber
  </a>
</li>


      

      
      <li>
        <a href="mailto:rashevsky.v@gmail.com">
          <meta itemprop="email" content="rashevsky.v@gmail.com" />
          <i class="fa fa-fw fa-envelope-square" aria-hidden="true"></i> Email
        </a>
      </li>
      

      

      

      

      

      

      

      
      <li>
        <a href="https://instagram.com/rashevsky.v" target="_blank" itemprop="sameAs">
          <i class="fa fa-fw fa-instagram" aria-hidden="true"></i> Instagram
        </a>
      </li>
      

      

      

      
      <li>
        <a href="https://github.com/rashevskyv" target="_blank" itemprop="sameAs">
          <i class="fa fa-fw fa-github" aria-hidden="true"></i> GitHub
        </a>
      </li>
      

      

      

      

      

      

      

      

      

      

      

      

      

      


      <li>
        <a href="https://customfw.xyz/donations" itemprop="sameAs">
          <i class="fa fa-fw fa-vine" aria-hidden="true"></i><strong>Пожертви</strong>
        </a>
      </li>

    </ul>
  </div>
</div>
  
   
  </div>
 
  
  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
    <meta itemprop="headline" content="Поширені запитання">
    
    
    
    <div class="page__inner-wrap">
      
        <header>
          <h1 class="page__title" itemprop="headline">Поширені запитання
</h1>
          
          <div class="language-selector-container">
            <!-- Не показуємо текст "lang: uk", а показуємо перемикач мов -->
            
          </div>
        </header>
      
	  
        
<aside class="sidebar__right">
<nav class="toc">
    <header><h4 class="nav__title"><i class="fa fa-file-text"></i> Розділи</h4></header>
<ul class="toc__menu" id="markdown-toc">
  <li><a href="#section" id="markdown-toc-section">Чи можна знизити прошивку?</a></li>
  <li><a href="#section-1" id="markdown-toc-section-1">Приставка завантажила оновлення, як видалити?</a></li>
  <li><a href="#section-2" id="markdown-toc-section-2">Як дізнатися версію прошивки за серійним номером ревізії?</a></li>
  <li><a href="#section-3" id="markdown-toc-section-3">Це що, кожного разу потрібно запускти експлойт?</a></li>
  <li><a href="#section-4" id="markdown-toc-section-4">Чи зникнуть ігри, які я встановив на минулих прошивках при оновленні на останню підтримувану версію ПЗ?</a></li>
  <li><a href="#dlc---" id="markdown-toc-dlc---">Як видалити патч або DLC, залишивши саму гру?</a></li>
  <li><a href="#psn" id="markdown-toc-psn">Як зайти в PSN?</a></li>
  <li><a href="#section-5" id="markdown-toc-section-5">Як закешувати експлойт заново?</a></li>
  <li><a href="#vr---" id="markdown-toc-vr---">Як запустити VR на зламаній приставці?</a></li>
  <li><a href="#remote-play" id="markdown-toc-remote-play">Чи можна використовувати Remote Play?</a></li>
  <li><a href="#ps2--ps4" id="markdown-toc-ps2--ps4">Як запустити гру від PS2 на PS4?</a></li>
  <li><a href="#section-6" id="markdown-toc-section-6">Чи працюватимуть збереження від ліцензійних ігор?</a></li>
  <li><a href="#section-7" id="markdown-toc-section-7">Чи потрібно оновлюватися до останньої версії? Мені і на 5.05 непогано</a></li>
  <li><a href="#hdd---usb-" id="markdown-toc-hdd---usb-">Як перенести ігри з внутрішнього HDD на зовнішній USB-носій?</a></li>
  <li><a href="#pkg" id="markdown-toc-pkg">У якому порядку встановлювати PKG?</a></li>
  <li><a href="#section-8" id="markdown-toc-section-8">Чи потрібно перекачувати куплені ліцензійні ігри?</a></li>
  <li><a href="#section-9" id="markdown-toc-section-9">Де брати патчі на ігри?</a></li>
  <li><a href="#section-10" id="markdown-toc-section-10">Чи можу я прошити приставку з прошивкою відмінною від 9.00?</a></li>
  <li><a href="#xx----" id="markdown-toc-xx----">Чи вистачить флешки на XX Гб для встановлення ігор?</a></li>
  <li><a href="#ftp-----" id="markdown-toc-ftp-----">Чи можна встановити гру, перекинувши її по FTP або будь-яким іншим методом?</a></li>
  <li><a href="#pkg------" id="markdown-toc-pkg------">Чи можна розбити pkg на частини, щоб влізла на флешку?</a></li>
  <li><a href="#section-11" id="markdown-toc-section-11">Чи можна грати онлайн?</a></li>
  <li><a href="#include-varssysversiontxt" id="markdown-toc-include-varssysversiontxt">Чи можу я запустити ігри, які вимагають прошивку вище за {% include /vars/sys_version.txt</a></li>
  <li><a href="#section-12" id="markdown-toc-section-12">Як повернутися на офіційну прошивку?</a></li>
  <li><a href="#section-13" id="markdown-toc-section-13">Чи можна пропатчити гру до актуальної версії?</a></li>
  <li><a href="#section-14" id="markdown-toc-section-14">У мене немає можливості надати активне інтернет-з’єднання для консолі. Що мені робити?</a></li>
</ul>

  </nav>
</aside>

<details class="spoiler" id="spoiler-2940ffd5">
  <summary>Чи можна знизити прошивку?</summary>
  <div class="spoiler-content">

    <h3 class="sr-only toc-extra toc-spoiler-title" id="section">Чи можна знизити прошивку?</h3>

    <p><strong>ДАУНГРЕЙД В ДОМАШНІХ УМОВАХ НА ДАНИЙ МОМЕНТ НЕМОЖЛИВИЙ!</strong> Якщо у вас прошивка вища, ніж 13.00, ви не зможете встановити злам. Однак, якщо ви оновилися на останню прошивку з прошивки, яка взлам підтримує, ви мождете зробити даунгейд за допомогою сервісного центру. На момент оновлення гайда (березень 2026 року) взлому піддаються всі прошивки для PS4, включно з новими, що лежать на полицях магазину</p>

  </div>
  <div class="spoiler-close-footer" role="button" aria-label="Згорнути спойлер" tabindex="0">Чи можна знизити прошивку? <span class="close-icon" aria-hidden="true"></span></div>
</details>

<details class="spoiler" id="spoiler-3a63092e">
  <summary>Приставка завантажила оновлення, як видалити?</summary>
  <div class="spoiler-content">

    <h3 class="sr-only toc-extra toc-spoiler-title" id="section-1">Приставка завантажила оновлення, як видалити?</h3>

    <p>Просто запустіть GoldHEN. Блокувальник вбудований в експлойт.</p>

  </div>
  <div class="spoiler-close-footer" role="button" aria-label="Згорнути спойлер" tabindex="0">Приставка завантажила оновлення, як видалити? <span class="close-icon" aria-hidden="true"></span></div>
</details>

<details class="spoiler" id="spoiler-98a92c74">
  <summary>Як дізнатися версію прошивки за серійним номером ревізії?</summary>
  <div class="spoiler-content">

    <h3 class="sr-only toc-extra toc-spoiler-title" id="section-2">Як дізнатися версію прошивки за серійним номером ревізії?</h3>

    <p>За допомогою цього <a href="https://defaultdnb.github.io/PS4IDENT/index.html" target="_blank">сайту</a></p>

  </div>
  <div class="spoiler-close-footer" role="button" aria-label="Згорнути спойлер" tabindex="0">Як дізнатися версію прошивки за серійним номером ревізії? <span class="close-icon" aria-hidden="true"></span></div>
</details>

<details class="spoiler" id="spoiler-3afde69d">
  <summary>Це що, кожного разу потрібно запускти експлойт?</summary>
  <div class="spoiler-content">

    <h3 class="sr-only toc-extra toc-spoiler-title" id="section-3">Це що, кожного разу потрібно запускти експлойт?</h3>

    <p>Так, при холодному ввімкненні приставки. Ні, якщо ви виводите приставку з режиму сну і експлойт був уже запущений, коли приставка заснула.</p>

  </div>
  <div class="spoiler-close-footer" role="button" aria-label="Згорнути спойлер" tabindex="0">Це що, кожного разу потрібно запускти експлойт? <span class="close-icon" aria-hidden="true"></span></div>
</details>

<details class="spoiler" id="spoiler-80db0c69">
  <summary>Чи зникнуть ігри, які я встановив на минулих прошивках при оновленні на останню підтримувану версію ПЗ?</summary>
  <div class="spoiler-content">

    <h3 class="sr-only toc-extra toc-spoiler-title" id="section-4">Чи зникнуть ігри, які я встановив на минулих прошивках при оновленні на останню підтримувану версію ПЗ?</h3>

    <p>Ні, звичайно. Навіть при оновленні через рекавері. Але я б все одно рекомендував зробити резервні копії збережень стандартними способами. Не знаєте як - подивіться в інструкції до приставки.</p>

  </div>
  <div class="spoiler-close-footer" role="button" aria-label="Згорнути спойлер" tabindex="0">Чи зникнуть ігри, які я встановив на минулих прошивках при оновленні на останню підтримувану версію ПЗ? <span class="close-icon" aria-hidden="true"></span></div>
</details>

<details class="spoiler" id="spoiler-c4dfcbce">
  <summary>Як видалити патч або DLC, залишивши саму гру?</summary>
  <div class="spoiler-content">

    <h3 class="sr-only toc-extra toc-spoiler-title" id="dlc---">Як видалити патч або DLC, залишивши саму гру?</h3>

    <p>Запускаєте злам, переходьте до налаштувань, там <strong>Debug Settings</strong> -&gt; <strong>Game</strong> -&gt; <strong>Add Content Manager</strong> -&gt; <strong>Entitlement Control</strong>
Будьте обережні, не видаліть зайвого!</p>

  </div>
  <div class="spoiler-close-footer" role="button" aria-label="Згорнути спойлер" tabindex="0">Як видалити патч або DLC, залишивши саму гру? <span class="close-icon" aria-hidden="true"></span></div>
</details>

<details class="spoiler" id="spoiler-2e96e721">
  <summary>Як зайти в PSN?</summary>
  <div class="spoiler-content">

    <h3 class="sr-only toc-extra toc-spoiler-title" id="psn">Як зайти в PSN?</h3>

    <p>Ніяк. Увійти до PSN можна тільки оновившись на останню офіційну прошивку!</p>

  </div>
  <div class="spoiler-close-footer" role="button" aria-label="Згорнути спойлер" tabindex="0">Як зайти в PSN? <span class="close-icon" aria-hidden="true"></span></div>
</details>

<details class="spoiler" id="spoiler-37726b0b">
  <summary>Як закешувати експлойт заново?</summary>
  <div class="spoiler-content">

    <h3 class="sr-only toc-extra toc-spoiler-title" id="section-5">Як закешувати експлойт заново?</h3>

    <p>Зайдіть у браузер та видаліть дані (у браузері натисніть (OPTIONS) -&gt; <strong>Налаштування</strong> -&gt; <strong>Видалити дані веб-сайтів</strong>), потім закешуйте згідно з інструкцією <a href="start-hen-browser" target="_blank">запуску</a>!</p>

  </div>
  <div class="spoiler-close-footer" role="button" aria-label="Згорнути спойлер" tabindex="0">Як закешувати експлойт заново? <span class="close-icon" aria-hidden="true"></span></div>
</details>

<details class="spoiler" id="spoiler-054ec737">
  <summary>Як запустити VR на зламаній приставці?</summary>
  <div class="spoiler-content">

    <h3 class="sr-only toc-extra toc-spoiler-title" id="vr---">Як запустити VR на зламаній приставці?</h3>

    <p>Якщо шолом попросить оновити прошивку – зробіть це. Підключіть та ввімкніть VR <strong>перед</strong> активацією зламу.</p>

  </div>
  <div class="spoiler-close-footer" role="button" aria-label="Згорнути спойлер" tabindex="0">Як запустити VR на зламаній приставці? <span class="close-icon" aria-hidden="true"></span></div>
</details>

<details class="spoiler" id="spoiler-ed340bc6">
  <summary>Чи можна використовувати Remote Play?</summary>
  <div class="spoiler-content">

    <h3 class="sr-only toc-extra toc-spoiler-title" id="remote-play">Чи можна використовувати Remote Play?</h3>

    <p><a href="remote-play" target="_blank">Так</a></p>

  </div>
  <div class="spoiler-close-footer" role="button" aria-label="Згорнути спойлер" tabindex="0">Чи можна використовувати Remote Play? <span class="close-icon" aria-hidden="true"></span></div>
</details>

<details class="spoiler" id="spoiler-dedd2e00">
  <summary>Як запустити гру від PS2 на PS4?</summary>
  <div class="spoiler-content">

    <h3 class="sr-only toc-extra toc-spoiler-title" id="ps2--ps4">Як запустити гру від PS2 на PS4?</h3>

    <p>Дотримуйтесь <a href="https://youtu.be/YKurUS2_wC0" target="_blank">рекомендацій з цього відео</a></p>

  </div>
  <div class="spoiler-close-footer" role="button" aria-label="Згорнути спойлер" tabindex="0">Як запустити гру від PS2 на PS4? <span class="close-icon" aria-hidden="true"></span></div>
</details>

<details class="spoiler" id="spoiler-a60fd6c2">
  <summary>Чи працюватимуть збереження від ліцензійних ігор?</summary>
  <div class="spoiler-content">

    <h3 class="sr-only toc-extra toc-spoiler-title" id="section-6">Чи працюватимуть збереження від ліцензійних ігор?</h3>

    <p>Ви зможете використовувати збереження на ліцензійних іграх і надалі. Проте на піратських копіях збереження, зроблені на ліцензії, працювати не будуть! Вони працюватимуть тільки якщо ви будете використовувати їх на ліцензійних копіях ігор! Хоча, ви можете перепідписати сейви через <a href="apollo" target="_blank">Apollo Save Tool</a></p>

  </div>
  <div class="spoiler-close-footer" role="button" aria-label="Згорнути спойлер" tabindex="0">Чи працюватимуть збереження від ліцензійних ігор? <span class="close-icon" aria-hidden="true"></span></div>
</details>

<details class="spoiler" id="spoiler-24668454">
  <summary>Чи потрібно оновлюватися до останньої версії? Мені і на 5.05 непогано</summary>
  <div class="spoiler-content">

    <h3 class="sr-only toc-extra toc-spoiler-title" id="section-7">Чи потрібно оновлюватися до останньої версії? Мені і на 5.05 непогано</h3>

    <p>Ваше право не оновлюватися. Проте знайте, що на 13.00 експлойт працює так само добре, як і на 5.05 (однак пам’ятайте, що експлойт на 9.00 для запуску вимагає підготовлену спеціальним чином флешку) і не вимагає бекпортів? а також запускаєься більш зручним способом</p>

  </div>
  <div class="spoiler-close-footer" role="button" aria-label="Згорнути спойлер" tabindex="0">Чи потрібно оновлюватися до останньої версії? Мені і на 5.05 непогано <span class="close-icon" aria-hidden="true"></span></div>
</details>

<details class="spoiler" id="spoiler-d5e554df">
  <summary>Як перенести ігри з внутрішнього HDD на зовнішній USB-носій?</summary>
  <div class="spoiler-content">

    <h3 class="sr-only toc-extra toc-spoiler-title" id="hdd---usb-">Як перенести ігри з внутрішнього HDD на зовнішній USB-носій?</h3>

    <p>Способом, <a href="https://blog.ru.playstation.com/2017/03/11/external-hdd-faq/" target="_blank">передбаченим інженерами Sony</a></p>

  </div>
  <div class="spoiler-close-footer" role="button" aria-label="Згорнути спойлер" tabindex="0">Як перенести ігри з внутрішнього HDD на зовнішній USB-носій? <span class="close-icon" aria-hidden="true"></span></div>
</details>

<details class="spoiler" id="spoiler-abae113d">
  <summary>У якому порядку встановлювати PKG?</summary>
  <div class="spoiler-content">

    <h3 class="sr-only toc-extra toc-spoiler-title" id="pkg">У якому порядку встановлювати PKG?</h3>

    <p>Порядок встановлення гри, патчів та DLC може бути довільним, якщо додатково не сказано іншого.</p>

  </div>
  <div class="spoiler-close-footer" role="button" aria-label="Згорнути спойлер" tabindex="0">У якому порядку встановлювати PKG? <span class="close-icon" aria-hidden="true"></span></div>
</details>

<details class="spoiler" id="spoiler-176127fc">
  <summary>Чи потрібно перекачувати куплені ліцензійні ігри?</summary>
  <div class="spoiler-content">

    <h3 class="sr-only toc-extra toc-spoiler-title" id="section-8">Чи потрібно перекачувати куплені ліцензійні ігри?</h3>

    <p>Не обов’язково. Використовуйте пейлоадер <a href="https://github.com/Zer0xFF/reactPSPLUS/releases/latest" target="_blank"><strong>reactPSPlus</strong></a> для активації цих ігор</p>

  </div>
  <div class="spoiler-close-footer" role="button" aria-label="Згорнути спойлер" tabindex="0">Чи потрібно перекачувати куплені ліцензійні ігри? <span class="close-icon" aria-hidden="true"></span></div>
</details>

<details class="spoiler" id="spoiler-3063aae9">
  <summary>Де брати патчі на ігри?</summary>
  <div class="spoiler-content">

    <h3 class="sr-only toc-extra toc-spoiler-title" id="section-9">Де брати патчі на ігри?</h3>

    <p>Ніде. Патч потрібно дампити так само, як і гру. Зазвичай у роздачі з грою йде патч, якщо такого там немає, то знайти його в більшості випадків не вийде. Ігри та патчі з сайтів типу <a href="https://orbispatches.com/" target="_blank">https://orbispatches.com/</a> не підходять, оскільки такі ігри не є перепакованими для зламаної прошивки.</p>

  </div>
  <div class="spoiler-close-footer" role="button" aria-label="Згорнути спойлер" tabindex="0">Де брати патчі на ігри? <span class="close-icon" aria-hidden="true"></span></div>
</details>

<details class="spoiler" id="spoiler-f32d52ea">
  <summary>Чи можу я прошити приставку з прошивкою відмінною від 9.00?</summary>
  <div class="spoiler-content">

    <h3 class="sr-only toc-extra toc-spoiler-title" id="section-10">Чи можу я прошити приставку з прошивкою відмінною від 9.00?</h3>

    <p>Можете, але нащо. Почсніть <a href="get-started" target="_blank">гайд з початку</a> та оберіть удобюний спосіб запуску взлому</p>

  </div>
  <div class="spoiler-close-footer" role="button" aria-label="Згорнути спойлер" tabindex="0">Чи можу я прошити приставку з прошивкою відмінною від 9.00? <span class="close-icon" aria-hidden="true"></span></div>
</details>

<details class="spoiler" id="spoiler-dfe29df9">
  <summary>Чи вистачить флешки на XX Гб для встановлення ігор?</summary>
  <div class="spoiler-content">

    <h3 class="sr-only toc-extra toc-spoiler-title" id="xx----">Чи вистачить флешки на XX Гб для встановлення ігор?</h3>

    <p>Розмір флешки не повинен бути меншим за розмір гри, що очевидно. Рекомендую носій не менше 64Гб або зовнішній HDD</p>

  </div>
  <div class="spoiler-close-footer" role="button" aria-label="Згорнути спойлер" tabindex="0">Чи вистачить флешки на XX Гб для встановлення ігор? <span class="close-icon" aria-hidden="true"></span></div>
</details>

<details class="spoiler" id="spoiler-bb29b473">
  <summary>Чи можна встановити гру, перекинувши її по FTP або будь-яким іншим методом?</summary>
  <div class="spoiler-content">

    <h3 class="sr-only toc-extra toc-spoiler-title" id="ftp-----">Чи можна встановити гру, перекинувши її по FTP або будь-яким іншим методом?</h3>

    <p>Так. Якщо у вас немає накопичувача великого розміру або з якихось причин ви не можете скористатися способом встановлення ігор через нього, скористайтеся <a href="games" target="_blank"><strong>Встановленням по локальній мережі</strong></a>.</p>

  </div>
  <div class="spoiler-close-footer" role="button" aria-label="Згорнути спойлер" tabindex="0">Чи можна встановити гру, перекинувши її по FTP або будь-яким іншим методом? <span class="close-icon" aria-hidden="true"></span></div>
</details>

<details class="spoiler" id="spoiler-f616b9ec">
  <summary>Чи можна розбити pkg на частини, щоб влізла на флешку?</summary>
  <div class="spoiler-content">

    <h3 class="sr-only toc-extra toc-spoiler-title" id="pkg------">Чи можна розбити pkg на частини, щоб влізла на флешку?</h3>

    <p>Ні.</p>

  </div>
  <div class="spoiler-close-footer" role="button" aria-label="Згорнути спойлер" tabindex="0">Чи можна розбити pkg на частини, щоб влізла на флешку? <span class="close-icon" aria-hidden="true"></span></div>
</details>

<details class="spoiler" id="spoiler-35cac6d6">
  <summary>Чи можна грати онлайн?</summary>
  <div class="spoiler-content">

    <h3 class="sr-only toc-extra toc-spoiler-title" id="section-11">Чи можна грати онлайн?</h3>

    <p>Ні. Навіть не намагайтеся увійти до PSN з активованим зламом! Це небезпечно і майже напевно призведе до бану</p>

  </div>
  <div class="spoiler-close-footer" role="button" aria-label="Згорнути спойлер" tabindex="0">Чи можна грати онлайн? <span class="close-icon" aria-hidden="true"></span></div>
</details>

<details class="spoiler" id="spoiler-ceffb456">
  <summary>Чи можу я запустити ігри, які вимагають прошивку вище за {% include /vars/sys_version.txt</summary>
  <div class="spoiler-content">

    <h3 class="sr-only toc-extra toc-spoiler-title" id="include-varssysversiontxt">Чи можу я запустити ігри, які вимагають прошивку вище за {% include /vars/sys_version.txt</h3>

    <p>? %}
Ні. І ніколи не зможете, якщо хтось не сдампить гру, використовуючи експлойт на прошивці вище і не модифікує її для запуску на вашій прошивці.</p>

  </div>
  <div class="spoiler-close-footer" role="button" aria-label="Згорнути спойлер" tabindex="0">Чи можу я запустити ігри, які вимагають прошивку вище за {% include /vars/sys_version.txt <span class="close-icon" aria-hidden="true"></span></div>
</details>

<details class="spoiler" id="spoiler-c840db05">
  <summary>Як повернутися на офіційну прошивку?</summary>
  <div class="spoiler-content">

    <h3 class="sr-only toc-extra toc-spoiler-title" id="section-12">Як повернутися на офіційну прошивку?</h3>

    <p>Формально ви з неї нікуди і не йшли. Подробиці <a href="uninstall-hen" target="_blank">тут</a></p>

  </div>
  <div class="spoiler-close-footer" role="button" aria-label="Згорнути спойлер" tabindex="0">Як повернутися на офіційну прошивку? <span class="close-icon" aria-hidden="true"></span></div>
</details>

<details class="spoiler" id="spoiler-f0f3ded3">
  <summary>Чи можна пропатчити гру до актуальної версії?</summary>
  <div class="spoiler-content">

    <h3 class="sr-only toc-extra toc-spoiler-title" id="section-13">Чи можна пропатчити гру до актуальної версії?</h3>

    <p>Якщо гра ліцензійна, то перед дампом її потрібно патчити таким чином - <a href="game-patches" target="_blank">Застосування ігрових патчів на ліцензійні копії ігор</a>. Патчі ж для піратських копій шукайте там же, де ви берете дампи ігор.</p>

  </div>
  <div class="spoiler-close-footer" role="button" aria-label="Згорнути спойлер" tabindex="0">Чи можна пропатчити гру до актуальної версії? <span class="close-icon" aria-hidden="true"></span></div>
</details>

<details class="spoiler" id="spoiler-519de67d">
  <summary>У мене немає можливості надати активне інтернет-з'єднання для консолі. Що мені робити?</summary>
  <div class="spoiler-content">

    <h3 class="sr-only toc-extra toc-spoiler-title" id="section-14">У мене немає можливості надати активне інтернет-з’єднання для консолі. Що мені робити?</h3>

    <p>Активуйте взлома за допомогою <a href="start-hen-vue" target="_blank">vue</a>, там інтернет не потрібен</p>

  </div>
  <div class="spoiler-close-footer" role="button" aria-label="Згорнути спойлер" tabindex="0">У мене немає можливості надати активне інтернет-з'єднання для консолі. Що мені робити? <span class="close-icon" aria-hidden="true"></span></div>
</details>

				
        
      </section>
      <footer class="page__meta">
        
        


        
      </footer>

      

      
    </div>
		
    
  </article>

  
  
</div>
    <a href="#" class="scrollup">Наверх</a>

    <div class="page__footer-container">
      <footer class="page__footer">
        <script src="/assets/js/main.min.js"></script>

<!-- // to top button -->
<a href="#" class="scrollup">Наверх</a>

<script type="text/javascript">
  $(document).ready(function () {
    $(window).scroll(function () {
      if ($(this).scrollTop() > 300) {
        $(".scrollup").fadeIn();
      } else {
        $(".scrollup").fadeOut();
      }
    });

    $(".scrollup").click(function () {
      $("html, body").animate({ scrollTop: 0 }, 600);
      return false;
    });
  });
</script>
        <div class="page__footer-follow">
  <ul class="social-icons">
    
    
      <li><a href="http://github.com/rashevskyv"><i class="fa fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
    
    
	  <li><a href="https://t.me/xhrxhrxhr" target="_blank" itemprop="sameAs"><i class="fa fa-fw fa-telegram" aria-hidden="true"></i> TG</a></li>
    
    
	  <li><a href="https://t.me/kefir_ukr" target="_blank" itemprop="sameAs"><i class="fa fa-fw fa-telegram" aria-hidden="true"></i> Kefir / 4ifir - switch jailbroken
	  </a></li>	
    
</div>

<div class="page__footer-copyright">&copy; 2026 xHR. Powered by <a href="http://jekyllrb.com" rel="nofollow">Jekyll</a> &amp; <a href="https://mademistakes.com/work/minimal-mistakes-jekyll-theme/" rel="nofollow">Minimal Mistakes</a>.</div>

      </footer>
    </div>

    
  
    
    <script src="/assets/js/spoiler-anim.js"></script>
  







  </body>
</html>